body {
	width: 1000px;
	margin: 0 auto;
}

#content {
	overflow: auto;
}

#nav, #feature1, #feature2, #footer {
	border: 1px solid #665544;
	background-color: #efefef;
	margin: 1%;
	text-align: center;
	padding: 0.5em;
}

.column1, .column2, .column3, .column4{
	border: 1px solid #665544;
	background-color: #efefef;
	width: 47%;
	float: left;
	margin: 1%;
	padding: 0.2em;
}

.column2, .column4 {
	margin-right: 0%;
}


li {
	display: inline;
	padding; 0.5em 0;
}

#feature1 {
	margin-bottom: 1em;
}

#feature2 {
	height: 15em;
	margin-bottom: 1em;
}

.column1, .column2 {
	height: 20em;
	margin-bottom: 1em;
}

.column3, .column4 {
	height: 30em;
	margin-bottom: 1em;
}

table, th, td {
    border: 1px solid black;
}
