body {
	width: 1000px;
	margin: 0 auto;
}

#content {
	overflow: auto;
}

#nav, #feature, #footer {
	border: 1px solid #665544;
	background-color: #efefef;
	margin: 1%;
	text-align: center;
	padding: 0.5em;
}

.column1, .column2, .column3 {
	border: 1px solid #665544;
	background-color: #efefef;
	width: 47%;
	float: left;
	margin: 1%;
	padding: 0.2em;
}

.column2 {
	margin-right: 0%;
}

li {
	display: inline;
	padding; 0.5em 0;
}

#feature, .article {
	height: 15em;
	margin-bottom: 1em;
}